/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom right, #ffe6f0, #fff0f5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4a3c3c;
}

.container {
    background-color: #fffaf0;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    width: 90%;
    max-width: 400px;
    text-align: center;
    z-index: 2;
}

h2 {
    color: #b34d8c;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    border: 2px solid #d9b3d9;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: #fff;
}

input[type="number"]:focus {
    border-color: #c25ba6;
}

select {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    border: 2px solid #dea8de;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    appearance: none;
    background-color: #fff;
}

button {
    background-color: #b32d2d;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #490e0e;
    transform: scale(1.02);
}

.resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #9b1414;
    font-weight: 600;
    min-height: 30px;
}

.erro {
    color: #b30000;
}